---
layout: default
title: halyard
---
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/halyard/halyard">Fork me on GitHub</a>
    </div>
</div>
<div class="header">
    <h2>Configuration repos</h2>
    <p>These are the various tools I use to configure my systems</p>
</div>
{% assign repos = site.repos | sort: 'weight', 'last' %}
{% for repo in repos %}
{% if repo.intro %}
    {% assign intro = repo.intro %}
{% else %}
    {% assign intro = "Looking to set up " | append: repo.reponame | append: "?" %}
{% endif %}
{% if repo.url %}
    {% assign url = repo.url %}
{% else %}
    {% assign url = "https://github.com/halyard/" | append: repo.reponame %}
{% endif %}
{% if repo.urlname %}
    {% assign urlname = repo.urlname %}
{% else %}
    {% assign urlname = "halyard/" | append: repo.reponame %}
{% endif %}

<div class="row">
    <div class="install">
        <h3>{{ intro }}</h3>
        <h4>(Source: <a href="{{ url }}">{{ urlname }}</a>)</h4>
        <pre>curl -sLo kickstart {{ repo.kickstart }}
sudo bash kickstart</pre>
    </div>
    <div class="description">{{ repo.content }}</div>
</div>
{% endfor %}
<div class="footer">
    <p>For other things I work on, check out my <a href="http://blog.akerl.org">blog</a> or <a href="https://github.com/akerl">GitHub</a></p>
</div>
