---
layout: default
title: halyard
---
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/halyard/halyard">Fork me on GitHub</a>
    </div>
</div>
<div class="header">
    <h2>Configuration repos</h2>
    <p>These are the various tools I use to configure my systems</p>
</div>
{% for repo in site.repos %}
<div class="row">
    <div class="install">
        <h3>Looking to run {{repo.url | split: '/' | last }}?</h3>
        <pre>
curl -sLo kickstart {% if repo.short %}{{ repo.short }}{% else %}https://halyard.github.io{{ repo.url }}{% endif %}
bash kickstart
        </pre>
    </div>
    <div class="source">
        <h4>Source:</h4>
        <p>This code comes from <a href="{{repo.upstream}}">{{repo.repo}}</a></p>
    </div>
    <div class="description">
        {{ repo.content }}
    </div>
</div>
{% endfor %}
